footer
    .foot
        .container.redes
            div
                h1 Siguenos como #ChangPierre
            ul
                li
                    a(href='#')
                        i.fa.fa-facebook-line
                li
                    a(href='#')
                        i.fa.fa-twitter
                li
                    a(href='#')
                        i.fa.fa-youtube
                li
                    a(href='#')
                        i.fa.fa-instagram
        .final
            div
                a(href='?pagina=others&others=politicas') Quiénes somos
                span
                a(href='?pagina=others&others=politicas') Empleo
                span
                a(href='?pagina=others&others=politicas') Aviso Legal
                span
                a(href='?pagina=others&others=politicas') Condiciones comerciales generales
                span
                a(href='?pagina=others&others=politicas') Protección de datos
                span
                a(href='?pagina=others&others=politicas') Contacto
                span
                a(href='?pagina=others&others=politicas') Gastos de envío y plazo de entrega
                span
                a(href='?pagina=others&others=politicas') Formas de pago
                span
                a(href='?pagina=others&others=politicas') Formulario de Desistimiento
                span
                a(href='?pagina=others&others=politicas') Programa de afiliación
