footer
    .foot
        .container.redes
            div
                h1 Siguenos como #ChangPierre
            ul
                li
                    a(href='https://es-la.facebook.com/calzadoschangpierretrujillo/')
                        i.fa.fa-facebook-official
                li
                    a(href='https://www.youtube.com/channel/UCHX3QMJQRuQmt7a6S74hfdw')
                        i.fa.fa-youtube
