extends layout

block content
    #query.contenido
        //section(style='float: left;')
            aside.laterales
                div
                    span
                        i.fa.fa-filter
                        | Filtros
                ul(data-id='filtro')
        section
            article(data-id='seccion')
        section
            .pages(data-id='pages')
